<form>
  <div class="mb-4">
    <input
      type="email"
      placeholder="Eposta adresi"
      class="input input-bordered w-full"
    />
  </div>
  <div class="mb-4">
    <input type="text" placeholder="İsim" class="input input-bordered w-full" />
  </div>
  <div class="mb-4">
    <input
      type="text"
      placeholder="Soyisim"
      class="input input-bordered w-full"
    />
  </div>
  <div class="mb-4">
    <input
      type="password"
      placeholder="Şifre"
      class="input input-bordered w-full"
    />
  </div>
  <div class="mb-4">
    <input
      type="text"
      placeholder="Telefon"
      class="input input-bordered w-full"
    />
  </div>
  <div class="mb-10 pt-1 pb-1 text-center">
    <button class="btn btn-primary mx-auto mb-3 w-full">Üye ol</button>
  </div>
</form>
