<div *ngIf="imagesLoaded" class="mb-5">
  <h4>Resimleri Sil</h4>
  <p-carousel
    [value]="images"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
  >
    <ng-template pTemplate="body" let-image>
      <p-card>
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="{{ image.imagePath | apiImage }}"
            style="height: 13vw; object-fit: cover"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="text-center">
            <button
              pButton
              class="p-button-danger"
              label="Sil"
              (click)="deleteImage(image)"
            ></button>
          </div>
        </ng-template>
      </p-card>
    </ng-template>
  </p-carousel>
  <h5>Resim Yükle</h5>
  <p-fileUpload
    [customUpload]="true"
    (uploadHandler)="uploadImages($event)"
    [multiple]="true"
    [maxFileSize]="1000000"
    [fileLimit]="5"
    accept="image/*"
  >
  </p-fileUpload>
</div>

<form [formGroup]="weddingPlaceUpdateForm" *ngIf="wpLoaded">
  <div class="container">
    <div class="row">
      <div class="col-3 mt-2">
        <h5>Kategori</h5>
        <p-dropdown
          *ngIf="categoriesLoaded"
          [options]="categories"
          optionLabel="categoryName"
          optionValue="categoryId"
          formControlName="categoryId"
          [showClear]="true"
          show
          placeholder="Kategori Seçin"
        ></p-dropdown>
      </div>

      <div class="col-3 mt-2">
        <h5>Şehir</h5>
        <p-dropdown
          formControlName="plateCode"
          *ngIf="citiesLoaded"
          [options]="cities"
          optionLabel="plateName"
          optionValue="plateCode"
          [showClear]="true"
          placeholder="Şehir Seçin"
        ></p-dropdown>
      </div>

      <div class="col-4 mt-2">
        <h5>İlk Fiyat</h5>
        <span class="p-float-label mt-1">
          <input
            class="p-inputtext"
            id="priceFirst"
            type="number"
            step="1000"
            formControlName="priceFirst"
            pInputText
          />
        </span>
      </div>

      <div class="col-4 mt-2">
        <h5>Son Fiyat</h5>
        <span class="p-float-label mt-1">
          <input
            class="p-inputtext"
            id="priceLast"
            type="number"
            step="1000"
            formControlName="priceLast"
            pInputText
          />
        </span>
      </div>
    </div>
    <!-- Maksimum Kapasiite -->
    <div class="sm:col-span-3">
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">Kapasite</span>
        </label>
        <label class="input-group">
          <input
            type="number"
            formControlName="capacity"
            placeholder="1200"
            min:1
            max:1500000
            step="50"
            class="input input-bordered"
          />
          <span>Kişi</span>
        </label>
      </div>
    </div>

    <!-- İndirim Oranı -->
    <div class="sm:col-span-3">
      <div class="form-control">
        <label class="label">
          <span class="label-text font-semibold">İndirim Oranı</span>
        </label>
        <label class="input-group">
          <input
            type="number"
            formControlName="discountRate"
            placeholder="10"
            min:0
            max:100
            step="1"
            class="input input-bordered"
          />
          <span>%</span>
        </label>
      </div>
    </div>

    <!-- Telefon Numarası -->
    <div class="sm:col-span-4">
      <label
        for="phoneNumber"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Telefon Numarası</label
      >
      <div class="mt-2">
        <input
          type="text"
          formControlName="phoneNumber"
          name="phoneNumber"
          id="phoneNumber"
          autocomplete="false"
          class="border-2 w-1/2 bg-white rounded-md py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
          placeholder="Örn: 552 615 22 39"
        />
      </div>
    </div>
    <div class="w-full">
      <!-- Alkol Var Mı -->
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text"
            >Düğün yerinde alkol satışı veya menülerde alkol var mı?</span
          >
          <input
            type="checkbox"
            formControlName="isAlcoholIncluded"
            class="checkbox"
          />
        </label>
      </div>
      <!-- Yemek Var Mı -->
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text"
            >Düğün yerindeki menülerde yemek var mı?</span
          >
          <input
            type="checkbox"
            formControlName="isFoodIncluded"
            class="checkbox"
          />
        </label>
      </div>
    </div>
    <div class="mt-4 text-center">
      <h5>Açıklama</h5>
      <textarea
        rows="8"
        cols="70"
        pInputTextarea
        [autoResize]="true"
        formControlName="description"
      ></textarea>
    </div>
  </div>
  <div class="mt-4 text-center">
    <button
      pButton
      [disabled]="weddingPlaceUpdateForm.invalid"
      type="submit"
      label="Güncelle"
      class="p-button-success"
      (click)="updateWeddingPlace()"
    ></button>
  </div>
</form>
