<div class="flex">
  <div class="h-full grid justify-center w-2/6">
    <h1 style="font-family: auto" class="text-3xl">DÜĞÜN MEKANLARI</h1>
    <h4 class="text-red-500">2056 Mekan Listeleniyor</h4>
    <!-- Filteleme Alanı -->
    <div class="">
      <form [formGroup]="filterForm">
        <h2>Mekan Adı ile Ara</h2>
        <!-- Mekan Adı Giriniz -->
        <div class="form-control w-full max-w-xs">
          <label class=""> </label>
          <input
            formControlName="placeName"
            type="text"
            placeholder="Örn : Limon Davet"
            class="input input-bordered border-purple-500 w-full max-w-xs"
          />
        </div>
        <!-- Şehir Seçiniz -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Şehir seçiniz.</span>
          </label>
          <select class="select select-bordered" formControlName="plateCode">
            <option selected [value]="null">Tüm Şehirler</option>
            <option [value]="city.plateCode" *ngFor="let city of cities">
              {{ city.plateName }}
            </option>
          </select>
          <label class="label"> </label>
        </div>
        <!-- Kategori Seçiniz -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Kategori seçiniz.</span>
          </label>
          <select class="select select-bordered" formControlName="categoryId">
            <option [value]="null" selected>Tüm Kategoriler</option>
            <option
              [value]="category.categoryId"
              *ngFor="let category of categories"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>
        <!-- Yemekli Menü -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Yemekli menü</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="isFoodIncluded"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Alkollü Menü -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Alkollü menü</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="isAlcoholIncluded"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Kokteylli Menü -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Kokteylli menü</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="isCocktailIncluded"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Olumsuz Havaya Karşı Önlem -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Olumsuz Havaya Karşı Önlem</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="hasAnyMeasureAgainstAdverseWeatherConditions"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Engelli Girişi -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Engelli Girişi</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="hasHandicapEntrance"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Vale Hizmeti -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Vale Hizmeti</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="hasValetService"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Yemek Tadımı -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Düğün Öncesi Yemek Tadımı</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="hasMenuTasting"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
        <!-- Hazırlık Odası -->
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Hazırlık Odası</span>
          </label>
          <select
            class="select select-bordered select-sm w-full max-w-xs"
            formControlName="hasPrepRoom"
          >
            <option [value]="true">Evet</option>
            <option [value]="false">Hayır</option>
            <option [value]="null" selected>Farketmez</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="h-full w-4/6 bg-red-600">03</div>
</div>
