<div class="container">
  <h2 class="header"></h2>
  <div class="alert shadow-lg my-3">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info flex-shrink-0 w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <div>
        <h3 class="font-bold">Marry Us:</h3>
        <div class="text-lg">
          Marry Us'a Hoşgeldiniz! Aradığınz mekanı bulmak için doğru yerdesiniz.
          İstediğiniz yerde, istediğiniz özelliklerde mekanları arayarak
          filtreleyebilirsiniz.
        </div>
      </div>
    </div>
  </div>
  <img
    class="w-3/4 h-min rounded-md mx-auto"
    src="../../../assets/images/wedding_3.jpg"
  />
</div>
