<div class="flex flex-row flex-wrap justify-center">
  <div class="h-64 w-full flex flex-row">
    <div
      class="container w-full flex flex-row justify-start items-start mx-auto flex-wrap"
    >
      <ul
        class="menu flex flex-row bg-base-100 min-h-52 max-h-56 w-44 max-w-44 h-56 p-2 rounded-box overflow-y-scroll overflow-x-hidden"
      >
        <li class="menu-title">
          <span class="text-center">Şehirler</span>
        </li>
        <li class="text-amber-600">
          <a (click)="getWeddingPlaces()">Tüm Şehirler</a>
        </li>
        <li class="w-full" *ngFor="let city of cities">
          <span (click)="getWeddingPlaceDetailsByCity(city.plateCode)">{{
            city.plateName
          }}</span>
        </li>
      </ul>
      <div class="flex flex-row justify-center my-2 items-center w-1/2">
        <label class="label-text mx-1 self-center">Mekan İsmi :</label>
        <input
          type="text"
          [(ngModel)]="filterText"
          placeholder="Örn : Carmen Wedding House"
          class="input input-bordered input-md w-full max-w-xs"
        />
      </div>
    </div>
  </div>
  <app-wedding-place-item
    [weddingPlace]="weddingPlace"
    *ngFor="let weddingPlace of weddingPlaces | filterpipe : filterText"
  />

  <progress *ngIf="loading" class="progress w-56"></progress>
</div>
