<div class="container mx-auto">
  <div class="alert shadow-lg my-3">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info flex-shrink-0 w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <div>
        <h3 class="font-bold">Marry Us:</h3>
        <div class="text-lg">
          Marry Us'a Yönetim Paneline Hoşgeldiniz! Burada işletmenizi
          websitemize ekleyebilir, varolan mekanı güncelleyebilir ya da
          ilanlardan kaldırabilirsiniz.
        </div>
      </div>
    </div>
  </div>
  <p-table
    [value]="weddingPlaces"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="!wpLoaded"
    responsiveLayout="scroll"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex justify-content-between align-items-center">
            Resim
          </div>
        </th>
        <th pSortableColumn="weddingPlaceName">
          <div class="flex justify-content-between align-items-center">
            Mekan Adı
            <p-sortIcon field="category"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="weddingPlaceName"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="categoryName">
          <div class="flex justify-content-between align-items-center">
            Kategori
            <p-sortIcon field="category"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="category"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="province">
          <div class="flex justify-content-between align-items-center">
            İl
            <p-sortIcon field="province"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="province"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th class="!text-center">Aksiyonlar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-weddingPlace>
      <tr class="p-row">
        <td>
          <img
            [alt]="weddingPlace.weddingPlaceName"
            src="{{ weddingPlace.weddingPlaceImages[0].imagePath | apiImage }}"
            width="64"
            style="vertical-align: middle"
          />
        </td>
        <td>
          <div class="flex justify-between items-center">
            <div class="flex align-items-center">
              <span class="ml-1">{{ weddingPlace.weddingPlaceName }}</span>
            </div>
          </div>
        </td>
        <td>
          <div class="flex justify-between items-center">
            <div class="flex align-items-center">
              <span class="ml-1">{{ weddingPlace.categoryName }}</span>
            </div>
          </div>
        </td>

        <td>
          <div class="flex justify-between items-center">
            <div class="flex align-items-center">
              <span class="ml-1">{{ weddingPlace.province }}</span>
            </div>
          </div>
        </td>

        <td>
          <div class="flex justify-between items-center">
            <div class="flex justify-around mx-auto">
              <p-confirmDialog
                [style]="{ width: '50vw' }"
                [baseZIndex]="10000"
                key="{{ weddingPlace.weddingPlaceId }}"
              ></p-confirmDialog>
              <button
                pButton
                (click)="editWeddingPlace(weddingPlace)"
                label="Güncelle"
                class="p-button-rounded p-button-help p-button-sm"
              ></button>
              <button
                pButton
                (click)="deleteWeddingPlace(weddingPlace)"
                label="Sil"
                class="p-button-rounded p-button-secondary p-button-sm"
              ></button>
              <button
                pButton
                label="İstatistik"
                class="p-button-rounded p-button-success p-button-sm"
              ></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Düğün yeri bulunamadı..</td>
      </tr>
    </ng-template>
  </p-table>
</div>
