<div class="flex flex-wrap mx-5">
  <div class="card w-96 glass justify-items-stretch mx-auto my-1">
    <figure>
      <div class="w-full h-56">
        <img
          src="{{ weddingPlace.weddingPlaceImages[0].imagePath | apiImage }}"
        />
      </div>
    </figure>
    <div class="card-body">
      <h2 class="text-center font-bold italic text-xl">
        {{ weddingPlace.weddingPlaceName }} - {{ weddingPlace.provinceName }}
      </h2>

      <div class="card-actions justify-end">
        <button
          routerLink="/detail/{{ weddingPlace.weddingPlaceId }}"
          class="btn btn-primary"
        >
          Detaya Git!
        </button>
      </div>
    </div>
  </div>
</div>
