<div class="flex flex-row flex-wrap justify-start">
  <!-- <div class="h-64 w-full flex flex-row">
    <div
      class="container w-full flex flex-row justify-start items-start mx-auto flex-wrap"
    >
      <ul
        class="menu flex flex-row bg-base-100 min-h-52 max-h-56 w-44 max-w-44 h-56 p-2 rounded-box overflow-y-scroll overflow-x-hidden"
      >
        <li class="text-amber-600">
          <a (click)="getWeddingPlaces()">Tüm Şehirler</a>
        </li>

        <li class="w-full" *ngFor="let city of cities">
          <span (click)="getWeddingPlaceDetailsByCity(city.plateCode)">{{
            city.plateName
          }}</span>
        </li>
      </ul>
      <div class="flex flex-row justify-center my-2 items-center w-1/2">
        <label class="label-text mx-1 self-center">Mekan İsmi :</label>
        <input
          type="text"
          [(ngModel)]="filterText"
          placeholder="Örn : Carmen Wedding House"
          class="input input-bordered input-md w-full max-w-xs"
        />
      </div>
    </div>
  </div> -->
  <div class="card flex w-full">
    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <span class="vertical-align-middle"
              >Filtrele
              <i class="pi pi-search mr-2"></i>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="flex flex-col items-center justify-center">
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Şehir seçiniz.</span>
              </label>
              <select class="select select-bordered">
                <option selected>Tüm Şehirler</option>
                <option *ngFor="let city of cities">
                  {{ city.plateName }}
                </option>
              </select>
              <label class="label"> </label>
            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Mekan adı giriniz.</span>
              </label>
              <input
                type="text"
                placeholder="Örn : Limon Davet"
                class="input input-bordered w-full max-w-xs"
              />
            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Fiyat Giriniz (En Az)</span>
              </label>
              <label class="input-group">
                <span class="text-sm">Kişi Başı</span>
                <input
                  type="text"
                  placeholder="150"
                  class="input input-bordered"
                />
                <span>TL</span>
              </label>
            </div>
            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Fiyat Giriniz (En Çok)</span>
              </label>
              <label class="input-group">
                <span class="text-sm">Kişi Başı</span>
                <input
                  type="text"
                  placeholder="400"
                  class="input input-bordered"
                />
                <span>TL</span>
              </label>
            </div>
            <button
              class="form-control btn bg-[#b2dfee] btn-block max-w-xs my-2"
            >
              Arama Yap
            </button>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
  <app-wedding-place-item
    [weddingPlace]="weddingPlace"
    *ngFor="let weddingPlace of weddingPlaces | filterpipe : filterText"
  />

  <progress *ngIf="loading" class="progress w-56"></progress>
</div>
