<div *ngIf="!confirmed && !selectedDate" class="grid max-md:w-full">
  <div class="col-span-6">
    <div class="text-center"><b>Tarih Seçiniz.</b></div>
    <div *ngIf="occupiedDatesLoaded" class="flex justify-center">
      <p-calendar
        class="ml-2"
        (onSelect)="rentDaySelect($event)"
        [(ngModel)]="rentDate"
        [showOtherMonths]="true"
        [disabled]="confirmed"
        [readonlyInput]="true"
        [inline]="true"
        inputId="rentDate"
        [minDate]="today"
        [maxDate]="maxDate"
        [disabledDates]="occupiedDates"
      ></p-calendar>
    </div>
    <div class="flex justify-end">
      <button
        pButton
        type="button"
        label="Devam Et"
        class="p-button-outlined p-button-rounded"
        (click)="next()"
      ></button>
    </div>
  </div>
</div>

<div *ngIf="confirmed && !parametersModal" class="items-end-end">
  <div class="row text-center">
    <a
      >"Düğün yerinizin toplam kiralama fiyatı :
      <b>{{ totalRentPrice }}</b> TL</a
    >
  </div>
  <form [formGroup]="creditCardForm">
    <div class="p-fluid formgrid grid">
      <div class="col-span-12 flex flex-col">
        <label id="name" for="cardHolderName">Kart Sahibinin Adı</label>
        <input
          type="text"
          placeholder="Batuhan ARIK"
          formControlName="cardHolderName"
          class="input input-bordered input-primary w-full block"
        />
      </div>
      <div class="flex flex-col">
        <div class="col-span-8">
          <label id="number" for="cardNumber">Kart Numarası</label>
          <p-inputMask
            formControlName="cardNumber"
            inputId="number"
            mask="9999-9999-9999-9999"
          ></p-inputMask>
        </div>
        <div class="flex flex-row">
          <div class="col-span-2">
            <label id="date" for="date">Tarih</label>
            <p-inputMask
              inputId="date"
              mask="99/99"
              formControlName="date"
            ></p-inputMask>
          </div>
          <div class="col-span-2">
            <label for="cvc">CVC</label>
            <p-inputMask
              inputId="cvc"
              mask="999"
              formControlName="cvc"
            ></p-inputMask>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="flex justify-between mt-5">
    <div class="col-auto"></div>

    <div class="col-auto">
      <button
        [disabled]="creditCardForm.invalid"
        pButton
        type="button"
        label="Öde"
        class="p-button-outlined p-button-rounded"
        (click)="confirm()"
      ></button>
    </div>
  </div>
</div>

<div *ngIf="selectedDate && parametersModal">
  <h2>Tercihlerinizi belirtir misiniz?</h2>
  <div class="flex flex-row col-span-12">
    <div class="sm:col-span-6">
      <div class="w-full">
        <!-- Alkol Var Mı -->
        <div class="form-control !flex-row">
          <label class="label cursor-pointer">
            <input
              [disabled]="!config.data.isAlcoholIncluded"
              [(ngModel)]="isAlcoholIncluded"
              (ngModelChange)="calculateRentPrice()"
              type="checkbox"
              class="checkbox"
            />
            <span
              class="label-text mx-3"
              [ngClass]="!config.data.isAlcoholIncluded ? 'line-through' : ''"
              >Düğün yerinde alkol hizmeti var mı?</span
            >
          </label>
        </div>
        <!-- Yemek Var Mı -->
        <div class="form-control !flex-row">
          <label class="label cursor-pointer">
            <input
              [disabled]="!config.data.isFoodIncluded"
              type="checkbox"
              class="checkbox"
              [(ngModel)]="isFoodIncluded"
              (ngModelChange)="calculateRentPrice()"
            />
            <span
              class="label-text mx-3"
              [ngClass]="!config.data.isFoodIncluded ? 'line-through' : ''"
              >Düğün yerinde yemek hizmeti var mı?</span
            >
          </label>
        </div>
        <!-- Kokteyl Var Mı -->
        <div class="form-control !flex-row">
          <label class="label cursor-pointer">
            <input
              [disabled]="!config.data.isCocktailIncluded"
              [(ngModel)]="isCocktailIncluded"
              (ngModelChange)="calculateRentPrice()"
              type="checkbox"
              class="checkbox"
            />
            <span
              class="label-text mx-3"
              [ngClass]="!config.data.isCocktailIncluded ? 'line-through' : ''"
              >Düğün yerindeki kokteyl var mı?</span
            >
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex justify-end items-center">
      <div class="sm:col-span-3">
        <div class="form-control">
          <label class="label">
            <span class="label-text font-semibold"
              >Düğün kapasitesi {{ config.data.capacityFirst }} -
              {{ config.data.capacityLast }} Aralığında olmalıdır.</span
            >
          </label>
          <label class="input-group">
            <input
              type="number"
              [(ngModel)]="selectedCapacity"
              (ngModelChange)="calculateRentPrice()"
              [min]="config.data.capacityFirst"
              [max]="config.data.capacityLast"
              step="10"
              class="input input-bordered"
            />
            <span>Kişi</span>
          </label>
          <span *ngIf="config.data.discountRate > 0" class="text-lg"
            >İndirim Oranı :
            <span class="text-xl text-fuchsia-700 font-bold">
              %{{ config.data.discountRate }}
            </span></span
          >
        </div>
      </div>
    </div>
    <div class="block justify-end items-center">
      <div
        class="avatar placeholder w-23 font-medium text-black flex mb-2 justify-end"
      >
        <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
          <span class="text-xl">{{ totalRentPrice }} TL</span>
        </div>
      </div>
      <button (click)="goToPayment()" class="btn btn-primary flex">
        Ödemeye Geç
      </button>
    </div>
  </div>
</div>
