<!-- navbar -->
<div class="navbar bg-[#b2dfee] shadow-md">
  <div class="flex-none">
    <button
      class="btn btn-square btn-ghost text-white"
      (click)="isSidebarVisible = !isSidebarVisible"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
  <div class="flex-1">
    <a class="ml-3 text-xl normal-case" [routerLink]="'/'"
      ><img
        class="max-w-full h-14"
        src="/assets/images/marrylogo2.png"
        alt="logo"
    /></a>
  </div>
  <div class="dropdown dropdown-left dropdown-bottom dropdown-hover w-40">
    <label tabindex="0" class="btn m-1">{{ fullName }}</label>
    <ul
      tabindex="0"
      class="dropdown-content menu !right-6 p-2 shadow bg-base-100 rounded-box"
    >
      <li>
        <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
          >Profil</a
        >
      </li>
      <li (click)="logout()"><a>Çıkış Yap</a></li>
    </ul>
  </div>
</div>

<div class="drawer" [class.drawer-mobile]="isSidebarVisible">
  <input
    id="primary-drawer"
    type="checkbox"
    class="drawer-toggle"
    [checked]="isSidebarVisible"
  />
  <div style="overflow-y: auto" class="flex drawer-content justify-center">
    <div class="min-h-screen">
      <router-outlet />
    </div>
  </div>
  <div class="drawer-side w-[90px]" [class.shadow-md]="isSidebarVisible">
    <label
      for="primary-drawer"
      class="drawer-overlay !bg-white opacity-100"
    ></label>
    <ul class="bg-[#ffc0cb] text-base-content w-[90px] py-2">
      <li>
        <div
          class="duration-250 flex h-16 cursor-pointer flex-col items-center justify-center border-l-4 border-r-4 border-transparent px-1 transition ease-out hover:bg-gray-200 hover:ease-in"
          [routerLink]="['/']"
          [routerLinkActive]="'border-l-primary text-primary'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="text-xl"
            nz-icon
            nzType="dashboard"
            nzTheme="outline"
          ></span>

          <span class="mt-2 text-xs"> Anasayfa </span>
        </div>
      </li>

      <li>
        <div
          class="duration-250 flex h-16 cursor-pointer flex-col items-center justify-center border-l-4 border-r-4 border-transparent px-1 transition ease-out hover:bg-gray-200 hover:ease-in"
          [routerLink]="['admin']"
          [routerLinkActive]="'border-l-primary text-primary'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            class="text-xl"
            nz-icon
            nzType="area-chart"
            nzTheme="outline"
          ></span>

          <button class="mt-2 text-xs">Yönetim Paneli</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-footer />
